[defaults]
remote_user         = amd
host_key_checking   = False
roles_path          = roles
stdout_callback     = yaml

[privilege_escalation]
become        = True
become_method = sudo
become_user   = amd
deprecation_warnings = False
collections_path = ./collections
