[defaults]
inventory           = inventory/hosts.ini
remote_user         = ec2-user
host_key_checking   = False
roles_path          = roles
stdout_callback     = yaml
# REMOVED log_path — not writable inside AAP runner container

[privilege_escalation]
become        = True
become_method = sudo
become_user   = root