# WLST script to create a basic WebLogic domain
readTemplate('{{ oracle_home }}/wlserver/common/templates/wls/wls.jar')

cd('Servers/AdminServer')
set('ListenAddress','')
set('ListenPort', {{ wls_admin_port }})

cd('/')
cd('Security/base_domain/User/weblogic')
cmo.setPassword('{{ wls_admin_password }}')

setOption('OverwriteDomain', 'true')
writeDomain('{{ wls_domain_home }}/{{ wls_domain_name }}')
closeTemplate()

print('Domain created successfully at {{ wls_domain_home }}/{{ wls_domain_name }}')
exit()